extensions:
    dravencms.recaptcha: Dravencms\ReCaptcha\DI\ReCaptchaExtension


webloader:
    js:
        admin: 
            remoteFiles:
                - "https://www.google.com/recaptcha/api.js"
                
        frontend:
            remoteFiles:
                - "https://www.google.com/recaptcha/api.js"